@page "/subcategory/{CategoryId:int}"

@using CyberQuiz.UI.Services
@using CyberQuiz.UI.Components.Components.Subcategories
@using CyberQuiz.UI.ViewModels
@using CyberQuiz.UI.Components.Components

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@rendermode InteractiveServer

@inject SubCategoryService SubCategoryService
@inject NavigationManager NavigationManager

@if (subCategories == null)
{
    <p>Loading...</p>
}
else
{

    <BackToCategoriesButton OnNavigateBack="NavigateBack" />

    @if (!subCategories.Any())
    {
        <div class="no-subcategories">
            <p>Loading....</p>
        </div>
    }
    else
    {
        <SubcategoryList SubCategories="@subCategories" OnStartQuiz="StartQuiz" />
    }

}

@code {

    [Parameter] public int CategoryId { get; set; }

    private List<SubCategoryViewModel>? subCategories;

    protected override async Task OnInitializedAsync()
    {
        // EDIT: Load from API
        subCategories = await SubCategoryService
            .GetSubCategoriesAsync(CategoryId);
    }

    private void StartQuiz(int subCategoryId)
    {
        NavigationManager.NavigateTo($"/quiz/{CategoryId}/{subCategoryId}");
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/categories");
    }

}