@page "/subcategory/{CategoryId:int}"

@using CyberQuiz.Services
@using CyberQuiz.UI.Components.Components.Subcategories
@using CyberQuiz.UI.ViewModels
@using CyberQuiz.UI.Components.Components

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@rendermode InteractiveServer

@inject SubCategoryService SubCategoryService
@inject NavigationManager NavigationManager

@if (subCategories == null)
{
    <p>Loading...</p>
}
else
{

    <BackToCategoriesButton OnNavigateBack="NavigateBack" />

    <SubcategoryList SubCategories="@subCategories"
                     OnStartQuiz="StartQuiz" />

}

@code {

    [Parameter] public int CategoryId { get; set; }

    private List<SubCategoryViewModel>? subCategories;

    protected override async Task OnInitializedAsync()
    {
        subCategories = await SubCategoryService.GetSubCategoriesAsync(CategoryId);
    }

    private void StartQuiz(int difficultyIndex)
    {
        NavigationManager.NavigateTo($"/quiz/{CategoryId}/{difficultyIndex}");
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/categories");
    }

}